<div class="w-full">
    <table class="w-full text-left border-collapse text-white">
        <colgroup>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
        </colgroup>
        {{ range .stacks }}
        <tbody>
            <tr>
                <th colspan="3" class="">
                    {{ .name }}
                </th>
                <th class="text-end">
                    {{ $healthy := true }}
                    {{ range .containers }}
                        {{ if ne .State "running" }}
                            {{ $healthy = false }}
                        {{ end }}
                    {{ end }}
                    {{ if $healthy }}
                        <span class="text-green-600">Healthy</span>
                    {{ else }}
                        <span class="text-red-600">Unhealthy</span>
                    {{ end }}
                </th>
            </tr>
        </tbody>
        <tbody>
        {{ range .containers }}
        <tr class="h-9 {{ if eq .State "running" }}text-green-300{{ else }}text-red-400{{ end }}">
            <td class="w-10">
                <img src="/thumbnail/{{ .Image }}" alt="{{ .Image }}" class="w-8 h-8 inline-block mr-2 bg-white">
            </td>
            <td>{{ .Names }}</td>
            <td class="w-50">{{ .Status }}</td>
            <td class="w-10 text-end">
                {{ if eq .State "running" }}
                <button class="p-1 bg-white rounded" onclick="post(`/api/containers/{{.ID}}/stop`)">⏸️</button>
                {{ else }}
                <button class="p-1 bg-white rounded" onclick="post(`/api/containers/{{.ID}}/start`)">▶️</button>
                {{ end }}
                <button class="p-1 bg-white rounded" onclick="del(`/api/containers/{{.ID}}`)">🗑️</button>
            </td>
        </tr>
        {{ end }}
        </tbody>
        {{ end }}
    </table>
</div>