<div id="editor"></div>
<script>
    import { EditorView, basicSetup } from 'https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js';
    import { yaml } from 'https://cdn.jsdelivr.net/npm/@codemirror/lang-yaml@6.1.1/dist/index.js';

    (function() {
        window.editor = window.editor || new EditorView({
            doc: 'Hello, CodeMirror!',
            extensions: [yaml(), basicSetup()],
            parent: document.getElementById('editor')
        });
    })()
</script>